# required variables
FLEET_URL=https://fleet.example.com
FLEET_TOKEN=<API-only user session token>

# optional variables
#ALLOWED_LABELS=Approved devices,Engineering Macs

#LOGGING_LEVEL=debug

#PORT=8001

#WEBHOOK_USERNAME=dynamic
#WEBHOOK_PASSWORD=dynamic123
#WEBHOOK_TOKEN=token
