# required variables
JAMF_URL=https://example.jamfcloud.com
JAMF_CLIENT_ID=6cabf059-21c9-44d6-bbde-02898f7430dd
JAMF_CLIENT_SECRET=dzmsPks-FwXpks80jhQGZZrAV3H2_ER0NAk91RE-xOBZvfghd98EM1hF9msfkanl

# optional variables
#ALLOWED_GROUPS=ALLOW-ACME-DEVICE-GROUP,ALLOW-ACME-MOBILE-GROUP

#LOGGING_LEVEL=debug

#PORT=8001

#WEBHOOK_USERNAME=dynamic
#WEBHOOK_PASSWORD=dynamic123
#WEBHOOK_TOKEN=token
