{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {},
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "jsx-a11y/alt-text": "off",
    "camelcase": "off",
    "no-underscore-dangle": "warn",
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "consistent-return": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
